footer {
  margin-bottom: -100px;
  position: absolute;
  width: 100%;
  color: rgb(151, 151, 151);
}
.selfimage {
  display: block;
  max-width: 300px;
  border-radius: 60%;
  transition: all 150ms ease-in-out;
  margin-top: 80px;
  margin-right: 80px;
}

.selfimage:hover {
  transform: scale(2);
}
